*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Header Section */
header{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right,#ffffff,#f8fbff,#eef5ff,#e3efff);
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0px 20px; */
}
.nav-container .logo{
  width: 90px;
  height: 90px;
  margin: 0px 50px;
}
.nav-container .logo img{
  width: 100%;
  height: 100%;
}
.nav-container .nav-menu{
 width: 400px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.nav-container .nav-menu a{
  text-decoration: none;
  color: #000;
}
.login-container{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 12px;
  background-color: rgb(191, 191, 252);
  border-radius: 25px;
}
/* Hero Section */
.hero-container{
  display: flex;
  justify-content: space-between;
}
.hero-content{
  width: 100%;
  margin: 150px 50px;
}
.hero-content h1{
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.hero-content p{
  padding: 0px 20px 20px 0px;
}
.hero-search-container{
  display: flex;
  gap: 20px;
}
.search-bar-con{
  background-color: rgb(249, 210, 216);
  width: 290px;
  height: 40px;
  border-radius: 20px;
  position: relative;
}
.search-bar-con .input-container{
  display: flex;
  gap: 5px;
  position: absolute;
  top: 12px;
  left: 20px;
}
.search-bar-con .input-container input{
  border: none;
  background: none;
  outline: none;
  width: 200px;
}
.hero-search-button{
  border: none;
  padding: 10px 20px;
  background-color: rgb(232, 135, 151);
  color: #fff;
  font-size: 15px;
  border-radius: 18px;
}
/* FAQ Section */
.faq-container{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-question-con{
  width: 700px;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
}